.ScrabbleBoard{
   td{
       width: 30px;
       height: 30px;
       border: 1px solid black;
   }
   table {
        border: 1px solid black;
   }
}

.TileSack {
    td {
        width: 30px;
        height: 30px;
        border: 1px solid black;
    }

    table {
        border: 1px solid black;
    }
}
.tile {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            transition: transform 0.3s ease;
            cursor: pointer;

        }
        .tile span {
            position: absolute;
            bottom: 5px;
            right: -3px;
            padding: 2px 5px;
            border-radius: 3px;
        }
        .tile.highlighted {
            transform: translateY(-20px);
        }



.cell {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    position: relative;
}

#timer {
    font-size: 24px;
    font-weight: bold;
}
