/* Ogólne style dla strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.TileSack {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Maksymalna szerokość kontenera */
    margin-bottom: 10px;
}

.container_0 {
    background-color: #add8e6;
}

.container_1 {
    background-color: #90ee90;
}

.container_2 {
    background-color: #ffb6c1;
}

.container_3 {
    background-color: #ffff99;
}

.button {
    margin-top: 20px ;
    margin-left: 20px;
    width: 200px;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: dimgray;
}

/* Styl dla planszy Scrabble */
.TileSack td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #ffffff; /* Tło komórek */
    border-radius: 5px; /* Zaokrąglenie rogów */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Cień */
    cursor: pointer;
}

.TileSack table {
    border-collapse: collapse;
    margin: 20px auto;
    align-items: center;
}

.tile {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 39px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tile span {
    position: absolute;
    bottom: 1px;
    right: 1px;
    background-color: #f1f1f1;
    padding: 2px 2px;
    border-radius: 3px;
    font-size: 7px;
    color: #333;
}

.tile.highlighted {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    position: relative;
    background-color: #fafafa;
    border-radius: 5px;
}

/* Styl dla timera */
#timer {
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
}
#player{
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
}
.floater{
    float: left;
    align-items: center;
    margin-right: 100px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.ScrabbleBoard{
    margin-top: 25px;
    margin-left: 25px;
    float: left;
}

.MessagesContainer {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    background-color: #e0e0e0;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 20px;
}

.messages-list {
    overflow-y: auto;
    height: 100%;
}

.message-item {
    margin-bottom: 5px;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
}

.player_name{
    float: left;
    margin-left: 30px;
}
.player_score{
    float: right;
    margin-right: 30px;
}
.p.bold{
    font-weight: bold;
}
.floater2{
    align-items: center;
    margin-right: 100px;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Maksymalna szerokość kontenera */
    max-height: 600px;
    float: left;
}
.gra{
    margin-top: 50px;
    margin-left: 50px;
}